.container{
  padding: 2px 2px;
  display:flex;
  position:fixed;
  justify-content: flex-start;
  justify-content: space-around;
  background-color: rgb(165, 127, 170);
  
}
#searchbar{
  width: 50%;

}
#searchlogo{
  width:40px;
  height: 40px;
  

}
.cart{
    padding: 70px 150px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
  }
  img{
    width: 230px;
    opacity: 1;
    display: block;
    height: 330px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

    